# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List development environment open source tools used in data science
- List data science libraries

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. NumPy

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Julia |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [61]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [63]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Luis Ganon